<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add File</title>
</head>

<body>
    <main>
        <form action="/s3Url" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" onchange="details">
            <button type="submit">Upload Image</button>
        </form>
    </main>
</body>

</html>